h1{
    text-align: center;
    background-color: whitesmoke;
    padding:40px;
    
}

 section {
            padding: 50px;
            color: white;
        }

        .blue {
            background-color: blue;
        }

        .yellow {
            background-color: yellow;
            color: black;
        }

        .green {
            background-color: green;
        }

