h1{
    text-align: center;
    background-color: azure;
    
    
    
}

 section {
            padding: 40px;
            color: white;
        }

        .blue {
            background-color: blue;
            color: aqua;
        }

        .yellow {
            background-color: yellow;
            color: black;
        }

        .green {
            background-color: green;
            color: whitesmoke;
            
        }

